html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
  font-size: 1.375em;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#wwtcanvas {
  width: 100%;
  height: 100%;
  border-style: none;
  border-width: 0px;
}

#maininfo {
  position: absolute;
  left: 1rem;
  top: 1rem;
  color: #FFF;
}

#colophon {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

#colophon p {
  font-size: 0.5em;
  color: #BBB;
}

#colophon img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

p {
  margin: 0px 0px 0.1rem 0px;
}

a, a:hover, a:visited {
  color: #FFF;
}
